<div class="c-app-bar">
  <div class="u-wrap  u-wrap--wide">
    <div class="u-grid  u-grid--halfs  u-grid--align-center">

      <div>
        <img class="c-app-bar_logo" src="/assets/logo.png" alt="GRANTEX ADVISORY GROUP logo" />
      </div>

      <div>
        <div class="c-menu  u-text-align--right">

          <ul>

            <li>
              <a
                href=""
                (mouseenter)="openServicesPop()"
                (mouseleave)="closeServicesPop()"
                [class.is-open]="servicesPopOpen"
                class="c-menu_expand-link">Služby <span class="material-icons-outlined">&#xe5cf;</span></a>
            </li>

            <li>
              <a href="">Databáze dotací</a>
            </li>

            <li>
              <a href="">Kariéra</a>
            </li>

            <li>
              <a href="">Kontakt</a>
            </li>

            <li>
              <a href=""><span class="material-icons-outlined">&#xe8b6;</span></a>
            </li>

          </ul>

          <div
            class="c-menu_pop"
            [class.is-open]="servicesPopOpen"
            (mouseenter)="openServicesPop()"
            (mouseleave)="closeServicesPop()">

            <h4 class="c-menu_pop-title">Služby GRANTEX ADVISORY GROUP</h4>

            <div class="c-menu_pop-section">

              <div class="u-grid  u-grid--halfs">

                <div>

                  <a href="" class="c-service-card  c-service-card--grants">

                    <h3 class="c-service-card_title">Dotace</h3>

                    <p class="c-service-card_desc">
                      Hledáte partnera, se kterým vám dotace neutečou? Sdělte nám svůj záměr, vše potřebné pro získání dotace už zařídíme.
                      Díky úspěšnosti našich projektů patříme mezi špičky v oboru.
                    </p>

                  </a>

                  <a href="" class="c-service-card  c-service-card--accounting">

                    <h3 class="c-service-card_title">Účetní a mzdové poradenství</h3>

                    <p class="c-service-card_desc">
                      Chcete mít vše pod kontrolou? Jsme moderní a efektivní. Šetříme čas váš i náš.
                      Díky tomu vás spolupráce s námi nebude nadměrně zatěžovat.
                    </p>

                  </a>

                  <a href="" class="c-service-card  c-service-card--taxes">

                    <h3 class="c-service-card_title">Daňové poradenství</h3>

                    <p class="c-service-card_desc">
                      Chcete minimalizovat daňová rizika? Náklady na daňového poradce jsou jedny z nejsmysluplněji investovaných nákladů.
                      Jsme kvalitní a zkušení.
                    </p>

                  </a>

                </div>

                <div>

                  <a href="" class="c-service-card  c-service-card--law">

                    <h3 class="c-service-card_title">Právní služby</h3>

                    <p class="c-service-card_desc">
                      Vyžadujete právní služby, které odpovídají vašim potřebám?
                      Zaručujeme komplexní právní servis.
                    </p>

                  </a>

                  <a href="" class="c-service-card  c-service-card--audit">

                    <h3 class="c-service-card_title">Auditorské služby</h3>

                    <p class="c-service-card_desc">
                      Chcete odborníky na audit a zároveň kvalitní spolupráci? Přistupujeme ke klientům individuálně. Nejen jako auditoři, ale i jako poradci managementu a majitelů firem.
                    </p>

                  </a>

                  <a href="" class="c-service-card  c-service-card--interim-management">

                    <h3 class="c-service-card_title">Interim management</h3>

                    <p class="c-service-card_desc">
                      Sestavili jsme pro vás aktuální databázi těch nejúspěšnějších interim manažerů z jednotlivých oborů na jednom místě.
                    </p>

                  </a>

                </div>

              </div>

            </div>

            <h4 class="c-menu_pop-title">Služby parent skupiny RENOMIA, a. s.</h4>

            <div class="c-menu_pop-section is-last">

              <a href="" class="c-service-card  c-service-card--renomia">

                <h3 class="c-service-card_title">Pojištění</h3>

                <p class="c-service-card_desc">
                  Zamysleli jste se nad tím, jak předejít potížím ještě dříve, než nastanou? Jak se nenechat ohrozit ani nešťastnou náhodou?
                </p>

              </a>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="p-home">

  <div class="p-home_section  p-home_section--intro">

    <div class="u-wrap  u-wrap--wide">
      <div class="p-home_content">
        <div class="u-grid  u-grid--halfs  u-grid--align-center  u-grid--gap-140">

          <div>

            <h1 class="p-home_claim">Přes 10 let pomáháme firmám s efektivním rozvojem.</h1>

            <p class="p-home_desc">
              Od <a href="" class="p-home_desc-service-link">dotačního</a>, <a href="" class="p-home_desc-service-link">účetního</a>, <a href="" class="p-home_desc-service-link">mzdového</a> a <a href="" class="p-home_desc-service-link">daňového</a> poradenství po <a href="" class="p-home_desc-service-link">právní</a>, <a href="" class="p-home_desc-service-link">auditorské</a> služby a <a href="" class="p-home_desc-service-link">pojištění</a>,
              <strong>GRANTEX ADVISORY GROUP</strong> nabízí komplexní set služeb, <strong>individuální přístup</strong> a <strong>roky zkušeností</strong> jak zbavit starostí i ty nejnáročnější klienty.
            </p>

            <div class="p-home_cta">

              <button class="c-button  c-button--stroked">
                <span class="material-icons-outlined">&#xe79a;</span> Pojďme společně zjistit, jak můžeme pomoci i vaší firmě
              </button>

              <!-- <button class="c-button  c-button--full">
                ..nebo prozkoumejte naše služby skrz obory a témata
              </button> -->

            </div>

          </div>

          <div>

            <div class="p-home_stats">
              <div class="u-grid  u-grid--halfs  u-grid--gap-40">

                <div>
                  <div class="c-stat">
                    <h3 class="c-stat_num">1700<span class="c-stat_num-suffix">+</span></h3>
                    <span class="c-state_desc">úspěšně realizovaných projektů</span>
                  </div>
                </div>

                <div>
                  <div class="c-stat">
                    <h3 class="c-stat_num">20<span class="c-stat_num-suffix">+ mld. czk</span></h3>
                    <span class="c-state_desc">v projektech, které jsme podpořili</span>
                  </div>
                </div>

                <div>
                  <div class="c-stat">
                    <h3 class="c-stat_num">250<span class="c-stat_num-suffix">+ mil. czk</span></h3>
                    <span class="c-state_desc">ročně šetříme našim klientům</span>
                  </div>
                </div>

                <div>
                  <div class="c-stat">
                    <h3 class="c-stat_num">70<span class="c-stat_num-suffix">+</span></h3>
                    <span class="c-state_desc">odborníků na slovo vzatých</span>
                  </div>
                </div>

              </div>
            </div>

            <!-- <h3>Pojďme společně zjistit, jak můžeme pomoct vaší firmě</h3> -->


          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="p-home_section  p-home_section--references">

    <div class="u-wrap">

      <h3 class="p-home_section-subtitle  u-text-align--center">Důvěřuje nám přes 1200 klientů</h3>

      <div class="p-home_references-wrap">
        <div class="u-grid  u-grid--fourths  u-grid--align-center">

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/pilulka.png" alt="pilulka" />
          </div>

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/skoda.png" alt="skoda" />
          </div>

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/bomton.png" alt="bomton" />
          </div>

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/bosal.png" alt="bosal" />
          </div>

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/tesla-lighting.png" alt="tesla-lighting" />
          </div>

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/heineken.png" alt="green-center" />
          </div>

          <div>
            <img class="p-home_reference-logo-img" src="/assets/references/green-center.png" alt="green-center" />
          </div>

          <div>
            <button class="c-button  c-button--full">Reference & případové studie <span class="material-icons-outlined">&#xe5c8;</span></button>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<div class="c-contact-dialog" [class.is-open]="contactDialogOpen">

</div>
